{% load static %}
<html>
    <head>
        <title>اردک واویشکا</title>
        <link rel="stylesheet" href="../../../static/css/اردک واویشکا.css">
    </head>
    <body align="center" dir="rtl">
        <header>
            <h1>به نام خدا</h1>
            <h2>غذا های گیلانی</h2>
        </header>
        <hr width="60%">
        <nav>
            <a href="#ab">تاریخچه</a>
            <hr>
            <a href="#ac">مواد لازم</a>
            <hr>
            <a href="#ax">طرز تهیه</a>
            <hr>
        </nav>
        <article>
            <h1>اردک واویشکا</h1>
            <img src="../../../static/aks/واویشکای اردک.jpg" alt="عکس اردک واویشکا" width="300px" height="300px">
            <br>
            <p id="ab">
                تاریخچه غدا
                <br>
                این غذای گیلانی از نظر پروتئین و آهن و ویتامین ها غنی بوده و بهتر است کنار این غذا از سبزیجات تازه به خوبی استفاده شود .
            </p>
            <ul align="right" id="ac">
                مواد لازم
                <br>
                <li>گوشت اردک : 250 گرم</li>
                <li>پیاز بزرگ : 2 عدد</li>
                <li>دانه انار ترش : 200 گرم</li>
                <li>رب انار : 1 قاشق غذاخوری</li>
                <li>روغن : 2 قاشق غذاخوری</li>
                <li>نمک – فلفل – زردچوبه – دارچین : به مقدار لازم</li>
            </ul>
            <ol align="right" id="ax">
                طرز تهیه
                <br>
                <li>پیاز را سرخ و با گوشت اردک قطعه شده تفت دهید .</li>
                <li>دانه انار و رب انار را به همراه کمی آب و یک لیوان آب انار همراه با ادویه جات به آن اضافه کرده
                    و با شعله ملایم بپزید تا ترشی به خورد گوشت اردک برود .</li>
                <li>وقتی به روغن افتاد واویشکا با رنگ سیاه آماده است .</li>
                <li>این غذا با غلات مثل نان و برنج سرو میشود .</li>
                <li>الان دی تانی بخوری تی جان قربان</li>
            </ol>
        </article>
    </body>
</html>