<html>
    <head>
        <title>باقالی قاتوق</title>
        <link rel="stylesheet" href="../../../static/css/باقالی قاتوق.css">
    </head>
    <body align="center" dir="rtl">
        <header><h1>به نام خدا </h1>
        <h2>غذا های گیلانی</h2>
        </header>
        <hr width="60%">
        <nav>
            <fieldset>
                <legend>راهنما</legend>
            <a href="#ma" id="n">تاریخچه</a>
            <br>
            <a href="#na" id="n">مواد لازم</a>
            <br>
            <a href="#ba" id="n">طرز تهیه</a>
            </fieldset>
        </nav>
        <article>
        <h2>باقالی قاتوق</h2> 
        <img src="../../../static/aks/باقالی قاتوق.jpg" alt="عکس باقالی قاتوق" width="200px" height="200px">
        <br>
        <h2 id="ma">تاریخچه غذا</h2>
        <p>باقلا قاتق یکی از خورشت های معروف و محلی گیلان می باشد که طرز تهیه آسانی دارد. باقالا قاتق برای گیاه خواران می توانید یک غذای لذیذ و خوشمزه باشد. این غذا بسیار پرفایده می باشد.</p>
        <p>
            
        <ul class="a" align="right" id="na">
            مواد لازم
            <li>پاچ باقلا	300 گرم  </li>              
            <li>تخم مرغ	3 عدد </li>
            <li>شوید خشک	4 قاشق غذاخوری</li>
            <li>کره و یا روغن زیتون	50گرم</li>
            <li>سیر  4 حبه</li>
            <li>آب یک لیتر</li>
            <li>زرد چوبه	1 قاشق چای خوری</li> 
            <li>نمک و فلفل سیاه	به میزان لازم</li>
            <li>دارچین	به میزان دلخواه</li>
        </ul>
        <ol class="a" id="ba">
            <li>برای تهیه باقالا قاتق ابتدا پوست باقلا ها را جدا کنید و در تابه و یا قابلمه ای مناسب به همراه کمی روغن یا کره تفت دهید.</li>
            <br>
            <li>پس از اینکه باقالا ها را مقداری تفت دادید سیر ها را پوست بگیرید و بشورید. سیر ها را رنده کنید و به باقلا ها اضافه کنید تا بوی سیر بلند شود. </li>
            <br>
            <li>شوید خشک را کم‌کم به باقلا ها اضافه کنید و هم بزنید تا کاملا ترکیب شوند.</li>
            <br>
            <li>زردچوبه و نمک را نیز به مواد باقالی قاتوق اضافه کنید و هم بزنید تا خوب تفت بخورند.</li>
            <li>فلفل سیاه و دارچین را نیز به مواد اضافه کنید و تفت دهید. دارچین کاملا دلخواه است شما می توانید آن را اضافه نکنید.</li>
            <li>در ادامه ا لیتر آب روی آن ها بریزید تا باقلا نیم پز شود و آب به جوش آید. </li>
            <br>
            <li>وقتی آب داخل باقلا به جوش آمد تخم مرغ ها را به آنها اضافه کنید. تخم مرغ ها باید کاملا پخته شوند و نباید در غذا هم زده شوند.</li>
        </ol>
        <h3>تره نوش جان</h3>
        </article>
    </body>
</html>


