{% load static %}
<html>
    <head>
        <title>gilan food</title>
        <link rel="stylesheet" href="../../../static/css/زمینه.css">
    </head>
    <body align="center" dir="rtl">
        <h1>به نام خدا</h1>
        <h3 id="o">غدا های گیلانی </h3>
        <select food="غذا ها">
            <option value="">انواع غدا ها</option>
            <option value="برو به اردک واویشکا">اردک واویشکا</option>
            <option value="برو به کال کباب">کال کباب</option>
            <option value="برو به ترش تره">ترش تره</option>
            <option value="برو به باقالی قاتوق">باقالی قاتوق</option>
            <option value="برد به میرزا قاسمی">میرزا قاسمی</option>
            <option value="برو به جغول مغول">جغول مغول</option>
            <option value=" برو به انار بیج">انار بیج</option>
            <option value=" برو به سیر قلیه ">سیر قلیه</option>
            <option value=" برو به فسنجون">فسنجون</option>
    </body>
</html>