<html>
    <head>
        <title>فسنجون</title>
        <link rel="stylesheet" href="../../../static/css/فسنجون.css">
    </head>
    <body dir="rtl" align="center">
        <header>
        <h1>به نام خدا</h1>
        <h2>غذاهای گیلانی</h2>
        </header>
        <hr width="60%">
        <nav class="n">
            <fieldset>
                <legend>راهنما</legend>
            <a href="#1" id="o">تاریخچه</a>
            <br>
            <a href="#2" id="o">مواد لازم</a>
            <br>
            <a href="#3" id="o">طرز تهیه</a>
            </fieldset>
        </nav>
        <hr width="60%">
        <article class="n">
            <h2>فسنجون</h2>
            <br>
            <img src="../../../static/aks/فسنجون1.jpg" alt="عکس فسنجون" width="200px" height="200px">
            <h3 id="1">تاریخچه</h3>
            <br>
            <p>.فسنجان اردک یکی از انواع خورش های سنتی و خوشمزه شمال کشور است که با دستورهای متنوعی تهیه می شود</p>
            <hr width="60%">
            <h3 id="2">مواد لازم</h3>
            <br>
            <ul align="right">
                <li>اردک</li>
                <li>پیاز</li>
                <li>گردو</li>
                <li>رب انار</li>
                <li>کره</li>
                <li>زعفران دم کرده</li>
                <li>شکر</li>
                <li>نمک و فلفل سیاه</li>
            </ul>
            <hr width="60%">
            <h3 id="3">طرز تهیه</h3>
            <ol>
                <li>برای تهیه خورش فسنجان با اردک ابتدا اردک را به خوبی می شوییم و کنار می گذاریم تا آب اضافی اش خارج شود. در ادامه مغر گردو را درون میکسر یا غذاساز می ریزیم و به طور کامل میکس می کنیم تا حالت خمیری پیدا کند.</li>
                <br>
                <li>در این مرحله پیاز را رنده می کنیم و به همراه کمی روغن داخل یک قابلمه مناسب می ریزیم. در ادامه قابلمه را روی حرارت قرار داده و پیاز را به خوبی تفت می دهیم تا سبک شود، سپس مقداری زردچوبه به آن اضافه کرده و مجددا تفت می دهیم.</li>
                <br>
                <li>پس از اینکه خامی زردچوبه گرفته شد، گردوی میکس شده را به قابلمه افزوده و به آرامی تفت می دهیم. پس از ۲ دقیقه ۶ لیوان آب سرد به قابلمه اضافه کرده و اجازه می دهیم گردو شروع به روغن انداختن کند.</li>
                <br>
                <li>در همین حین زعفران دم کرده را با مقداری نمک، فلفل سیاه و زردچوبه ترکیب کرده و روی گوشت اردک می مالیم. در ادامه یک تابه مناسب روی حرارت قرار داده و مقداری کره اضافه می کنیم، سپس اجازه می دهیم کره ذوب شود.</li>
                <br>
                <li>در این مرحله اردک را به تابه اضافه کرده و تمام قسمت هایش را به صورت یکدست سرخ می کنیم، سپس از تابه خارج کرده و به قابلمه اضافه می کنیم. حالا حرارت زیر قابلمه را کم می کنیم تا اردک به مدت دو تا چهار ساعت بپزد.</li>
                <br>
                <li>پس از گذشت این زمان رب انار و شکر را اضافه کرده و اجازه می دهیم خورش جا بیفتد. در نهایت پس از اینکه اردک کاملا مغز پخت شد، خورش را در درون ظرف مورد نظرمان می کشیم و به همراه برنج سرو می کنیم.</li>
            </ol>
            <h3>تره نوش جان</h3>
        </article>
    </body>
</html>