<html>
    <head>
        <title>کال کباب</title>
        <link rel="stylesheet" href="../../../static/css/کال کباب.css">
    </head>
    <body align="center" dir="rtl">
        <header>
            <h1>به نام خدا</h1>
            <h2>غدا های گیلانی</h2>
        </header>
        <hr width="60%">
        <nav class="m">
            <fieldset>
                <legend>راهنما</legend>
            <a href="#art" class="q">تاریخچه</a>
            <br>
            <a href="#mar" class="q">مواد لازم</a>
            <br>
            <a href="#yar" class="q">طرز تهیه</a>
            </fieldset>
        </nav>
        <article class="m">
            <h2>کال کباب</h2>
            <img src="../../../static/aks/kal-kabab-gilani.jpg" alt="عکس کال کباب" width="200px" height="200px">
            <br>
            <h3 id="art">تاریخچه</h3>
            <br>
            <p>
                کال کباب یکی از انواع غذاهای معروف و بسیار خوشمزه شمالی است که با بادمجان تهیه می شود. طعم این غذا به دلیل دودی بودن بادمجان شباهت‌هایی به میرزا قاسمی دارد.اما میرزا قاسمی نیست.
            </p>
            <br>
            <h3 id="mar">مواد لازم</h3>
            <br>
            <hr width="60%">
            <ul align="right">
                <li>بادمجان</li>
                <li>گردو</li>
                <li>سیر</li>
                <li>آبغوره</li>
                <li>نعناع خشک</li>
                <li>چوچاق (اختیاری)</li>
                <li>نمک و فلفل سیاه</li>
            </ul>
            <hr width="60%">
            <h3 id="yar">طرز تهیه</h3>
            <br>
            <ol>
                <li>ابتدا بادمجان را با پوست روی منقل ذغال یا حرارت شعله گاز قرار می دهیم تا کبابی شوند. اگر دوست ندارید بادمجان ها مانند میرزا قاسمی طعم دودی داشته باشند حتما بادمجان ها را در فر کباب کنید، زیرا با این کار بادمجان ها طعم دودی نمی گیرند.</li>
                <br>
                <li>برای کباب کردن بادمجان‌ها می‌توانیم از اجاق گاز هم استفاده کنیم و نکته دیگر اینکه در زمان کباب کردن حتما باید پوست بادمجان‌ها روی آنها باشد، وگرنه طعم دودی نمیگیرند.</li>
                <br>
                <li>پس از اینکه بادمجان ها را کباب کردیم صبر می کنیم تا کمی خنک شوند، سپس آنها را به آرامی پوست می گیریم و داخل یک قابلمه جادار و مناسب می ریزیم. در ادامه سیرها را پوست می گیریم و به بادمجان اضافه می کنیم.</li> 
                <br>
                <li>در این مرحله سبزیجات معطر را به صورت ساطوری خرد می کنیم و به همراه مقداری نمک و فلفل سیاه به قابلمه اضافه می کنیم. در آخر گردوهای آسیاب شده را به همراه آبغوره به قابلمه اضافه می کنیم و تمام مواد را میکس می کنیم.</li>
                <br>
                <li>برای میکس کردن مواد می توانیم از گوشتکوب برقی استفاده کنیم یا اینکه تمام مواد را داخل میکسر یا مخلوط کن بریزیم تا کاملا یکدست و شبیه پوره شوند. در صورت تمایل می‌توانیم مقداری آب انار ترش هم به کال کباب اضافه کنیم.</li>
                <br>
                <li>در آخر کال کباب را داخل ظرف مورد نظرمان می کشیم و به سلیقه خود با موادی مثل گلپر، با انار دان شده، مغز گردو و آب انار تزیین می کنیم. این غذای خوشمزه را به همراه نان تازه و سبزی خوردن سرو می‌کنیم.</li>
                <br>
                <li>اگر در خانه آب انار تازه ندارید، نگران نباشید. یکی از بهترین جایگزین‌ها برای آب انار، آبغوره تازه است. اما مهم است که بدانید استفاده از آبلیمو در تهیه این غذا توصیه نمی‌شود و باعث بدطعم شدن کال کباب می‌شود.</li>
                <br>
                <h3>تره نوش جان</h3>
            </ol>
        </article>
    </body>
</html>